.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.title {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.title > span {
    line-height: 3em;
    font-size: 3rem;
    color: orange;
}

.title h1 {
    margin-right: 1em;
}

.image-and-controls {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.8em;
    padding: 0.5em;
}

controls a {
    text-decoration: none;
}

.image {
    text-align: center;
}

.image img {
    max-width: 350px;
    border-radius: 1.5em;
}

.ingredients > div {
    display: flex;
    flex-direction: column;
}

.ingredients > h2 {
    background-color: blue;
    color: white;
    border-radius: 0.2em;
    line-height: 1.5em;
    padding-left: 1em;
}

.steps {
    transition: all 1s ease;
}

.steps-faded {
    opacity: 0.2;
    transition: all 1s ease;
}

.steps-visible {
    opacity: 1;
    transition: all 1s ease;
}

.steps > h2 {
    background-color: blue;
    color: white;
    border-radius: 0.2em;
    line-height: 1.5em;
    padding-left: 1em;
}

@media (min-width: 800px) {
    .title {
        flex-flow: row wrap;
    }

    .controls {
        padding-left: 4em;
        padding-right: 4em;
    }

}