.wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    max-width: 100%;
}

.title {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.title a {
    text-decoration: none;
    position: relative;
    left: 10px;
    top: -3px;
}

.image {
    text-align: center;
}

.image-and-controls {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.8em;
    padding: 0.5em;
    max-height: 6em;
}

.image img {
    max-width: 100%;
    border-radius: 1.5em;
}

.controls > div:hover {
    background-color: lightgreen;
}

.ingredients {
    margin-bottom: 2em;
}

@media (min-width: 800px) {
    .title {
        flex-direction: row;
        justify-content: space-around;
    }

    .image input {
        margin-left: auto;
        margin-right: auto;
    }
}