.wrapper {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid lightblue;
    padding: 0.7em;
}

.wrapper > div {
    margin-bottom: .5em;
}

.title {
    display: flex;
    justify-content: center;
}

.image {
    display: flex;
    justify-content: center;
    padding: 0 1em 0 1em;
    text-align: center;
}

.image img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 1.5em;
}

.checks {
    display: flex;
    justify-content: center;
}

.checks input {
    width: 3rem;
    height: 3rem;
}

@media (min-width:800px) {
    .wrapper {
        flex-direction: row;
    }

    .wrapper > div {
        margin-bottom: 0em;
    }


    .title {
        flex: 1;
        justify-content: flex-start;
        align-items: center;
    }

    .image {
        flex: 2;
        align-items: center;
    }

    .checks {
        flex: 1;
        align-items: center;
    }
}