.recipe-summary-table table {
    border-collapse: collapse;
    width: 100%;
}

.recipe-summary-table td, recipe-summary-table th {
    border: 1px solid #dddddd;
    padding: 8px;
}

.recipe-summary-table tr:nth-child(even) {
    background-color: #f2f7ff;
}

.rating-header {
    display: none;
}

@media (min-width: 800px) {
    .rating-header {
        display: table-cell;
    }
}