.rating-cell {
    font-size: 2em;
    color: orange;
    text-align: center;
    display: none;
}

.image-cell {
    text-align: center;
}

.image-cell img {
    border-radius: 10%;
}

@media (min-width: 800px) {
    .rating-cell {
        display: table-cell;
    }
}