.wrapper {
    display: flex;
    flex-flow: column;
    margin-bottom: 1em;
    border-bottom: 1px solid lightblue;
    padding-bottom: 1em;
}

.title {
    order: 1;
}

.title h3 {
    display: inline-block;
    margin-right: 0.5em;
}

.rating {
    order: 2;
    font-size: 2em;
    color: orange;
}

.image {
    order: 3;
}

.image img {
    max-width: 100%;
    border-radius: 1.5em;
}

.actions {
    display: flex;
    order: 4;
    justify-content: center;
    margin-top: 0.8em;
}

@media (min-width: 800px) {
    .wrapper {
        flex-flow: row nowrap;
        padding: 1em;
    }

    .title {
        flex: 1;
        display: flex;
        align-items: center;
    }

    .title h3 {
        display: block;
    }

    .image {
        order: 2;
        flex: 2;
        display: flex;
        align-items: center;
        padding: 0 1em 0 1em;
    }

    .rating {
        order: 3;
        flex: 1;
        display: flex;
        align-items: center;
    }

    .actions {
        flex: 1;
        align-items: center;
        margin-top: 0px;
    }
}
